<% this.title = article.id ? '编辑帖子' : '发表帖子'; %>
<% include header %>
<style type="text/css">
    .am-panel-title{
    font-size: 1.6em;
    }
</style>
<div class="padding">
  <form class="" method="post">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="edit">编辑</a>
      <a class="item" data-tab="preview" id="preview_tab">预览</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="edit">
      <div class="ui form">
        <div class="field">
          <label for="title">标题</label>
          <input type="text" id="title" name="title" value="<%= article.title %>">
        </div>
        <div class="field">
          <label for="content">内容</label>
          <textarea rows="30" id="content" name="content" class="markdown-edit"><%= article.content %></textarea>
        </div>
      </div>

    <% if (user && user.is_admin) { %>
        <div class="ui <% if (article.is_notice) { %>checked <% } %>checkbox" style="margin-top: 15px; ">
          <input <% if (article.is_notice) { %>checked=""<% } %> name="is_notice" type="checkbox">
          <label><strong>公告</strong></label>
          <p style="margin-top: 5px; ">选择后将显示在首页公告栏。</p>
        </div>
      <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="preview">
      <h1 class="ui header" id="pv-title"></h1>
      <div id="pv-content" class="font-content"></div>
    </div>
    <div style="text-align: center; ">
    <button id="save_button" type="button" class="ui labeled submit icon button">
      <i class="save icon"></i> 保存
    </button>
    <button id="submit_button" type="submit" class="ui labeled submit icon button">
      <i class="icon edit"></i> 提交
    </button>
    </div>
  </form>
</div>

<script type="text/javascript">
$(function () {
    function render(output, input) {
      $.post('/api/markdown', { s: input.val() }, function (s) {
        output.html(s);
      });
    }
    $("#preview_tab").click(function () {
      $("#pv-title").text($("#title").val());
      $("#pv-content").text('Loading...');
      render($("#pv-content"), $("#content"));
    });
    $('.tabular.menu .item').tab();

    var $form = $('form');
    $('#save_button').click(function (e) {
      e.preventDefault();
      var $btn = $(this).addClass('loading disabled');
      $.ajax({
        type: 'POST',
        url: window.location.pathname + window.location.search,
        data: $form.serialize(),
        dataType: 'json'
      }).done(function (resp) {
        if (resp && resp.success) {
          var newId = resp.id;
          var match = window.location.pathname.match(/\/article\/(\d+)\/edit/);
          if (match && parseInt(match[1]) !== newId) {
            var newPath = '/article/' + newId + '/edit';
            var newUrl = newPath + window.location.search;
            history.replaceState(null, document.title, newUrl);
          }
          $btn.removeClass('loading').removeClass('disabled').addClass('positive').html('<i class="check icon"></i> 已保存');
        } else {
          var msg = (resp && resp.error) || '保存失败';
          alert(msg);
        }
      }).fail(function (xhr) {
        var msg = (xhr.responseJSON && xhr.responseJSON.error) || '保存失败';
        alert(msg);
      }).always(function () {
        setTimeout(function () {
          $btn.removeClass('positive').removeClass('loading').removeClass('disabled').html('<i class="save icon"></i> 保存');
        }, 800);
      });
    });
})
</script>
<% include footer %>
