<script>
  window.pathSelfLib = "<%- selfLib('') %>";
</script>
<script src="<%- selfLib('simple-editor.js') %>"></script>
<%
this.showLoadingEditor = () => {
%>
<div class="ui active medium text loader">编辑器加载中 …</div>
<%
};
%>
